.hide {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

label[for="upload"] {
  display: inline-block;
  cursor: pointer;
  padding: 8px 30px;
  background-color: #4780af;
  color: #ffffff;
  border-radius: 2px;
  transition: all 0.3s;
}
label[for="upload"]:hover {
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.25), 0 5px 18px 0 rgba(0, 0, 0, 0.2);
}(editado)
