<form action="~/Application/Search" autocomplete="on" id="FormSearch">
    <div class="myndie-input" id="searchIndex">
        <input type="text" id="search" name="search" autocomplete="off" placeholder="Search">
    </div>
</form>


<script type="text/javascript" src="~/assets/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap TypeAhead-->
<script src="../../assets/myndie/js/bootstrap3-typeahead.min.js"></script>
<!-- TypeAhead init-->
<script src="../../assets/myndie/js/forms-autocomplete.js"></script>

<script>
    @*var values = JSON.parse('"@Html.Raw(ViewBag.AppName)"');*@
    var values = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.AppName));
    var obj = [];
    values.forEach(add);

    function add(item, i) {
        var o = { name: item };
        obj[i] = o; 
    }
    $('#search').typeahead({
        displayText: function (item) {
            return item.name
        },
        afterSelect: function (item) {
            this.$element[0].value = item.name
        },
        source: obj
    });
</script>
