
@{
    Layout = "~/Views/Shared/_DeveloperLayout.cshtml";
}
<link href="~/assets/css/normalize.css" rel="stylesheet" />
<link href="~/assets/css/demo.css" rel="stylesheet" />
<link href="~/assets/css/component.css" rel="stylesheet" />
<section class="no-padding-top">
    <div class="container-fluid">
        <div class="row">
            <!-- Form Elements -->
            <div class="col-lg-12">
                <div class="block">
                    <div class="title text-primary"><strong>@ViewBag.App.Name</strong></div>
                    <div class="block-body">
                        <form class="form-horizontal" action="/Application/UpdateAppData" method="post" enctype="multipart/form-data">
                            <input type="hidden" value="@ViewBag.App.Id" name="update.ApplicationId" />
                            <div class="form-group">
                                <div class="col-md-12">
                                    <input type="file" name="file" id="file-01" required class="inputfile inputfile-01 hide" />
                                    <label for="file-01"><svg xmlns="http://www.w3.org/2000/svg" width="20px" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z" /></svg> <span>Pick the new version&hellip;</span></label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 h4 form-control-label text-secondary"><strong>Notes:</strong></label><br />
                                <div class="col-sm-12">
                                    @*<textarea class="form-control" required name="update.Value"></textarea>*@
                                    <textarea class="summernote" name="update.Value" required></textarea>
                                </div>
                                <div class="col-md-12 float-left">
                                    <button type="submit" class="btn btn-primary btn-lg btn-block ml-0 mt-3">Update</button>
                                </div>
                            </div>                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/assets/myndie/js/jquery.custom-file-input.js"></script>
<script src="~/assets/myndie/js/jquery-v1.min.js"></script>
<script src="~/assets/myndie/js/custom-file-input.js"></script>
<script>
    var inputs = document.getElementById('upload');
    inputs.forEach.call(inputs, function (input) {
        var label = input.nextElementSibling,
            labelVal = label.innerHTML;

        input.addEventListener('change', function (e) {
            var fileName = '';
            if (this.files && this.files.length > 1)
                fileName = (this.getAttribute('data-multiple-caption') || '').replace('{count}', this.files.length);
            else
                fileName = e.target.value.split('\\').pop();

            if (fileName)
                label.querySelector('span').innerHTML = fileName;
            else
                label.innerHTML = labelVal;
        });
    });
</script>