
@{
    Layout = null;
}
<head>

    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Myndie</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Icon -->
    <link rel="icon" type="image/png" href="/assets/images/icon.png">

    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>


    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="/assets/bower_components/bootstrap/dist/css/bootstrap.min.css" />

    <!-- FontAwesome -->
    <link rel="stylesheet" type="text/css" href="/assets/bower_components/font-awesome/css/font-awesome.min.css" />

    <!-- Owl Carousel -->
    <link rel="stylesheet" type="text/css" href="/assets/bower_components/owl.carousel/dist/assets/owl.carousel.min.css" />

    <!-- myndie -->
    <link rel="stylesheet" type="text/css" href="/assets/myndie/css/myndie.min.css" />
    <!-- Magnific Popup -->
    <link rel="stylesheet" type="text/css" href="/assets/bower_components/magnific-popup/dist/magnific-popup.css" />

    <!-- entypo font -->
    <link rel="stylesheet" href="/assets/css/entypo/css/entypo.css">

    <!-- Custom Styles -->
    <link rel="stylesheet" type="text/css" href="/assets/css/custom.css" />

    <!-- Social Likes -->
    <link rel="stylesheet" type="text/css" href="/assets/bower_components/social-likes/dist/social-likes_flat.css" />

    <!-- FilePond -->
    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">



    <!-- RTL (uncomment this to enable RTL support) -->
    <!-- <link rel="stylesheet" type="text/css" href="~/assets/myndie/css/myndie-rtl.css" /> -->

</head>

<!-- Main Content -->
<section class="content-wrap">
    <!-- Banner -->
    <div class="myndie-banner myndie-banner-parallax banner-top xsmall">
        <div class="image" style="background-image: url('../../assets/images/banner-blog-bg.jpg')">
        </div>

        <div class="info">
            <div>
                <div class="container align-center">
                    <h1>Forgot your Password</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- /Banner -->

    <div class="container myndie-store">

        <!-- Games List -->
        <div class="col-md-9 justify-content-center">


            <form method="post" onsubmit="return SendEmailToUser(this)">
                <p>Your Email:</p>
                <div class="myndie-input">
                    <input type="email" class="form-control" id="Email" placeholder="Email" required name="Email" />
                </div>
                <br />
                <center><button type="submit" class="btn btn-danger justify-content-center" id="send">Send Email</button></center>
            </form>
        </div>
        <form action="/Home/Index">
            <input type="submit" value="dasdasd" id="vai" style="display: none" />
        </form>
        <!-- /Games List -->
    </div>

</section>
<!-- /Main Content -->

<script type="text/javascript" src="~/assets/bower_components/jquery/dist/jquery.min.js"></script>
<script>
    function SendEmailToUser(formData) {
        var ajaxConfig = {
            type: "post",
            url: "/User/SendEmailToUser",
            data: new FormData(formData),
            processData: false,
            contentType: false,
            success: function (result) {
                alert(result);
                window.location.href = "/Home/Index";
            }
        }
        $.ajax(ajaxConfig);
        return false;
    };
</script>