
@{
}


<!-- Main Content -->
<section class="content-wrap">
    <!-- Banner -->
    <div class="myndie-banner myndie-banner-parallax banner-top xsmall">
        <div class="image" style="background-image: url('../../assets/images/banner-blog-bg.jpg')">
        </div>

        <div class="info">
            <div>
                <div class="container">
                    <h1>Forgot your Password</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- /Banner -->

    <div class="container myndie-store">

        <!-- Games List -->
        <div class="col-md-9 justify-content-center">


            <form method="post" onsubmit="return SendEmailToUser(this)">
                <p>Your Email:</p>
                <div class="myndie-input">
                    <input type="email" class="form-control" id="Email" placeholder="Email" required name="Email" />
                </div>
                    <br />

                    <center><button type="submit" class="btn btn-danger justify-content-center">Send Email</button></center>
                </form>
        </div>
        <!-- /Games List -->
        @Html.Action("_GenreGameRightSide", "Application")
    </div>

</section>
<!-- /Main Content -->

<script>

    function SendEmailToUser(formData) {
        var ajaxConfig = {
            type: "post",
            url: "/User/SendEmailToUser",
            data: new FormData(formData),
            processData: false,
            contentType: false,
            success: function (result) {
                alert(result);
                window.location.href = "/Home/Index";
            }
        }
        $.ajax(ajaxConfig);
        return false;
    };
</script>