
@{
}
<section>
    <br />
    <br />
    <br />
    <br />
    <form>
        <input type="email" class="form-control" />
        <a class ="btn btn-danger" onclick="SendEmail();">Click</a>
    </form>
</section>




<script>
    var SendEmail = function () {
        $.ajax({
            type: "Post",
            url: "/User/SendEmailToUser",
            sucess: function (data) {
                alert("Email Sent");
            }
        })
    }
</script>