
@{
    Layout = null;
}

<!DOCTYPE html>

<!-- Main Content -->
<section class="content-wrap full myndie-login">

    <!-- Banner -->
    <div class="myndie-banner banner-top">
        <div class="image" style="background-image: url('assets/images/banner-bg.jpg')"></div>

        <div class="info">
            <div>
                <div class="container align-center">
                    <div class="myndie-form">
                        <h1>Login</h1>

                        <div class="btn-group social-list dib">
                            <a class="btn btn-default" title="Share on Facebook" href="#!"><i class="entypo-facebook"></i></a>
                            <a class="btn btn-default" href="#!" title="Share on Twitter"><i class="entypo-twitter"></i></a>
                            <a class="btn btn-default" href="#!" title="Share on Google Plus"><i class="entypo-gplus"></i></a>
                        </div>

                        <form action="">
                            <div class="myndie-input">
                                <input type="text" name="login" placeholder="Login">
                            </div>
                            <div class="myndie-input">
                                <input type="password" name="password" placeholder="Password">
                            </div>
                            <button class="btn btn-default db">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Banner -->

</section>
<!-- /Main Content -->
