
@{
    Layout = "~/Views/Shared/_ModeratorLayout.cshtml";
}

<div id="DivContent">
    <section class="no-padding-top">
        <div class="container-fluid">
            <div class="block">
                <div class="title"><strong>Developers</strong></div>
                <div class="block-body">

                </div>
                <div class="table-responsive">
                    <table id="datatable1" style="width: 100%;" class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Information</th>
                                <th>Published Apps</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var d in ViewBag.Devs)
                            {
                                <tr>
                                    <td>@d.Id</td>
                                    <td><a class="text-muted">@d.Name</a></td>                                    
                                    <td>@d.Info</td>
                                    <td>@d.NumSoft</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>
