
@{
    Layout = "~/Views/Shared/_DeveloperLayout.cshtml";
}

<!-- Main Content -->
<section class="content-wrap">
    <div class="container myndie-content">
        <div class="row">
            <div class="col-md-9">
                <h2 class="mt-0">Lastest Uploads</h2>
                <!-- Images With Text -->
                <div class="myndie-carousel" data-autoplay="5000">
                    @foreach (var app in ViewBag.DevGames)
                    {
                        <a class="angled-img" href="~/Application/Product/@app.Id">
                            <div class="img">
                                <img src="@app.ImageUrl" style="height: 150px;" alt="">
                            </div>
                            <div class="over-info">
                                <div>
                                    <div>
                                        <h4>@app.Name</h4>
                                        <div class="rating">
                                            <i class="entypo-star"></i>
                                            <i class="entypo-star"></i>
                                            <i class="entypo-star"></i>
                                            <i class="entypo-star"></i>
                                            <i class="entypo-star"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    }

                </div>
                <!-- /Images With Text -->
            </div>
        </div>
    </div>
</section>
