
@{
    Layout = "~/Views/Shared/_DeveloperLayout.cshtml";
}


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css'>

    <link href="~/Content/style.css" rel="stylesheet" />


    <div id="carrousel">
        <div class="container">
            <div class="title col-md-12 text-center"> Your last uploads</div>
            <div class="col-md-12">
                <div class="owl-carousel owl-theme">
                    @foreach (var app in ViewBag.DevGames)
                    {
                        <a href="~/Application/EditGame/@app.Id">
                            <img src="@app.ImageUrl" alt="@App.Name">
                        </a>
                    }
                </div>
            </div>
            <div class="text-center">
                <div class="status">Click To edit</div>
            </div>
        </div>
    </div>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js'></script>
    <script src="~/Scripts/index.js"></script>






